{% extends 'base.html.twig' %}

{% block title %}Impact Centre Chretien Abidjan - Rejoindre une famille d'impact{% endblock %}

{% block body %}
    <header>
        {% include 'nav.html.twig' %}
    </header>

    <section>

        <h1>Rejoignez une de nos Familles d'Impacts</h1>

        <p>
            {{ fi_counter|length }}<br>
            F.I
        </p>
    </section>

    <section>
        {% for famille_impact in fi_counter %}
            <p>
                <a href="{{ path('fi_details', {id : famille_impact.id}) }}">{{ famille_impact.zone }}</a>
            </p>
        {% endfor %}
    </section>

    {#
    <section>
    {{ form_start(fi_search_form) }}

        <div>
            {{ form_widget(fi_search_form.municipality) }}
            {{ form_errors(fi_search_form.municipality) }}
        </div>

        <button type="submit">Rechercher une FI</button>
    {{ form_end(fi_search_form) }}

    <div>
        {% if app.flashes('success') is defined %}
            {% for msg in app.flashes('success') %}
                {{ msg }}
            {% endfor %}
        {% endif %}

        {% if municipality %}

            {% if municipality_result %}

                <p>
                    {% set municipalityCounter = municipality_result|length %}

                    {% if municipalityCounter > 1 %}
                        {{ municipalityCounter }} résultats trouvés pour "{{ municipality }}"
                    {% else %}
                        {{ municipalityCounter }} résultat trouvé pour "{{ municipality }}"
                    {% endif %}
                </p>

            {% else %}
                <p>
                    Aucun résultat trouvé pour "{{ municipality }}"
                </p>
            {% endif %}

        {% endif %}


        {% for municipality in municipality %}
            <p>
                {{ municipality.zone }}
            </p>
        {% endfor %}
    </div>
</section>
    #}

    <footer>

        <div class="infos">

            <div>
                <h1>Église locale Abidjan</h1>

                <p>
                    9274+4HQ, Abidjan - Côte d'Ivoire
                </p>
            </div>

            <div>
                <h1>TÉLÉPHONE</h1>

                <p>
                    +225 07 11 45 91 20
                </p>

                <p>
                    +225 07 47 83 41 04
                </p>
            </div>

            <div>
                <h1>EMAIL</h1>

                <p>
                    {# faire en sorte que l'email puisse rédiriger vers un envoi d'email #}
                    egliseiccabidjan@gmail.com
                </p>
            </div>
        </div>


        <div class="copyright">
            <p>©Impact Centre Chretien {{ 'now'|date('Y') }} - Tous droits réservés</p>
        </div>

    </footer>

{% endblock %}